.css_btn_class {
	font-size:19px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:0px solid #eb2e1d;
	padding:2px 15px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(49%, #b01e0e), color-stop(56%, #ed0909) );
	background:-moz-linear-gradient( center top, #b01e0e 49%, #ed0909 56% );
	background:-ms-linear-gradient( top, #b01e0e 49%, #ed0909 56% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b01e0e', endColorstr='#ed0909');
	background-color:#b01e0e;
	color:#f7dcdc;
	display:inline-block;
	text-shadow:1px 1px 0px #a8271e;
 	-webkit-box-shadow:inset 1px 1px 0px -50px #f29c93;
 	-moz-box-shadow:inset 1px 1px 0px -50px #f29c93;
 	box-shadow:inset 1px 1px 0px -50px #f29c93;
}.css_btn_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(49%, #ed0909), color-stop(56%, #b01e0e) );
	background:-moz-linear-gradient( center top, #ed0909 49%, #b01e0e 56% );
	background:-ms-linear-gradient( top, #ed0909 49%, #b01e0e 56% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed0909', endColorstr='#b01e0e');
	background-color:#ed0909;
}.css_btn_class:active {
	position:relative;
	top:1px;
}